.appContainer {
  display: flex;
  flex-direction: column;
  max-width: 50rem;
}

.addButton {
  height: 2.8rem;
  width: 15%;
  color: white;
  font-size: 18px;
  font-weight: 700;
  background-color: #3498db;
  border: 2px solid transparent;
}

.addButton:active {
  background-color: #1f618d;
  border-color: #1f618d;
}

.actionsButton {
  display: inline-block;
  font-size: 14px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border: 2px solid #3498db;
  border-radius: 5px;
  background-color: #3498db;
  color: #ffffff;
  width: 8.6rem; /* Set a fixed width */
  height: 1.5rem;
}

.actionsButton:active {
  background-color: #1f618d;
  border-color: #1f618d;
}

.statusButton {
  display: inline-block;
  font-size: 14px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border: 2px solid transparent;
  border-radius: 5px;
  background-color: transparent;
}

.statusButton:hover {
  border-color: yellowgreen;
}

.header {
  width: 45rem;
  height: 3.5rem;
  background-color: blueviolet;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: azure;
  font-size: 1.6rem;
  font-weight: 700;
}

.body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: lightgrey;
}

.body-p {
  color: brown;
  font-size: 2.5rem;
}

.body-dashboard {
  height: 28rem;
  width: 35rem;
  background-color: white;
  margin-bottom: 1.5rem;
}

.upper-body {
  height: 18rem;
}

.upper-body-input {
  height: 2.8rem;
  width: 85%;
  border: none;
  border-bottom: 1px solid lightgrey;
  font-size: 1rem;
  font-size: large;
  padding-left: 10%;
  opacity: 0.8;
}
.body .body-dashboard .footer {
  border-top: 1px solid lightsalmon;
  font-size: 0.8rem;
  font-weight: 700;
  color: grey;
  display: flex;
  justify-content: space-between;
  padding-left: 25px;
  padding-right: 10px;
}

.body .body-dashboard .footer .box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.body .body-dashboard .footer .box3 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
}

.body .body-dashboard .footer .box4 {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
